set DATABASE_URL=ENTER_SQLALCHEMY_DATABASE_URI&&^
set FLASK_SECRET_KEY=ENTER_SECRET_KEY&&^
set FLASK_APP=webapp&&^
set FLASK_ENV=development&&^
set FLASK_DEBUG=1&&^
set ADMIN_EMAIL=ENTER_ADMIN_EMAIL&&^
set ADMIN_PASSWORD=ENTER_ADMIN_PASSWORD&&^
flask run