{% extends "base.html" %} {% block content %} {% include 'recipe/static_recipe.html' %}

<form
  action=" {{ url_for('recipe.add_ingredient', recipe_id=recipe.id) }}"
  method="POST"
>
  {{ form.hidden_tag() }}
  <h2>Добавление ингредиента</h2>
  <div class="p-2"></div>
  <div class="form-floating mb-3">
    {{ form.product(placeholder="Продукт") }} {{
    form.product.label(class="form-label") }}
  </div>
  <div class="form-floating mb-3">
    {{ form.category(placeholder="Категория продукта") }} {{
    form.category.label(class="form-label") }}
  </div>
  <div class="form-floating mb-3">
    {{ form.quantity(placeholder="Количество") }} {{
    form.quantity.label(class="form-label") }}
  </div>
  <div class="form-floating mb-3">
    {{ form.unit(placeholder="Единица измерения") }} {{
    form.unit.label(class="form-label") }}
  </div>
  {{ form.add }}
  <div class="p-2"></div>
</form>
<a
  class="btn btn-success w-100 py-2"
  href="{{ url_for('recipe.recipe', recipe_id=recipe.id) }}"
>
  Завершить добавление ингредиентов</a
>
{% endblock %}
