<div class="col-lg-8 mx-auto p-4 py-md-5">
    <h1 class="text-center">{{ recipe["name"] }}</h1>
    <p class="fs-3 col-6 mx-auto text-center">{{ RECIPE_CATEGORIES.get(recipe["category"], "  ")[0] }}</p>
    <p class="fw-bold fs-4">Время на приготовление:</p>
    <p class="fs-5 col-6 mx-auto">{{ recipe["cooking_time"]|string + ' мин.' if recipe["cooking_time"] != -1 else 'не указано' }}</p>
    <p class="fw-bold fs-4">Описание</p>
    <ol class="list-group list-group-numbered list-group-flush">
        {% for step in recipe["description"] %}
            <li class="list-group-item fs-4">{{ step["text"] }}</li>
        {% endfor %}
    </ol>
    <p class="fw-bold fs-4">Для приготовления Вам потребуется:</p>
    <div class="col-6 mx-auto">
        <ol class="list-group list-group-flush">
            {% for ingredient in recipe["ingredients"] %}
            <li class="list-group-item fs-4">
                {{
                ingredient["product"]["name_ru"] + ' ' +
                ingredient["quantity"]|string + ' ' +
                ingredient["unit"]
                }}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
