{% extends "base.html" %} {% block content %}
<form action=" {{ url_for('add_recipe') }}" method="POST">
  {{ form.hidden_tag() }}
  <h2>Создание рецепта</h2>
  <div class="p-2"></div>
  <div class="form-floating mb-3">
    {{ form.name(placeholder="Название рецепта") }} {{
    form.name.label(class="form-label") }}
  </div>
  <div class="form-floating mb-3">
    {{ form.category(placeholder="Категория рецепта") }} {{
    form.category.label(class="form-label") }}
  </div>
  <div class="form-floating mb-3">
    {{ form.description(placeholder="Текст рецепта") }} {{
    form.description.label(class="form-label") }}
  </div>
  <div class="form-floating mb-3">
    {{ form.preparation_time(placeholder="Время на подготовку") }} {{
    form.preparation_time.label(class="form-label") }}
  </div>
  <div class="form-floating mb-3">
    {{ form.cooking_time(placeholder="Время на приготовление") }} {{
    form.cooking_time.label(class="form-label") }}
  </div>
  {{ form.create }}
  <div class="p-2"></div>
</form>
{% endblock %}
