{% extends "base.html" %} {% block content %}
<div class="p space-for-messages"></div>
<h2>Этапы приготовления</h2>
<textarea class="form-control cooking-step-text" aria-label="With textarea" rows="3"></textarea>
<button class="btn btn-primary add-recipe-cooking-step-button" data-recipe-id='{{ recipe.id }}'>Добавить</button>


<!--<h2>Ингредиенты</h2>-->
<!--<form action=" {{ url_for('add_ingredient', recipe_id=recipe.id) }}"-->
<!--      method="POST">-->
<!--    <div class="row row-cols-xs-auto g-3 justify-content-md-center">-->
<!--        {{ form.hidden_tag() }}-->
<!--        <div class="cols-xs-auto col-md">-->
<!--            {{ form.product(placeholder="Продукт") }}-->
<!--        </div>-->
<!--        <div class="cols-xs-auto col-md-auto">-->
<!--            {{ form.category(placeholder="Категория продукта") }}-->
<!--        </div>-->
<!--        <div class="cols-xs-auto col-md-auto">-->
<!--            {{ form.quantity(placeholder="Количество") }}-->
<!--        </div>-->
<!--        <div class="cols-xs-auto col-md-auto">-->
<!--            {{ form.unit(placeholder="Единица измерения") }}-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="p-2"></div>-->
<!--    {{ form.add }}-->
<!--</form>-->

<div class="p-2"></div>
<a class="btn btn-success w-100 py-2" href="{{ url_for('recipe', recipe_id=recipe.id) }}">
    Завершить и показать рецепт
</a>
{% endblock %}
