{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="p-3"></div>
    <h1 class="mt-5">ChefList</h1>
    <p class="lead">Cайт для составления и хранения списков покупок и рецептов блюд</p>
    <p>
        <strong>Этот сайт позволит Вам:</strong><br>
        1. Составлять списки покупок, чтобы ничего не забыть купить<br>
        2. Удобно хранить свои любимые рецепты<br>
        3. Быстро и просто добавлять ингредиенты блюд в списки покупок
    </p>
    <div class="p-1"></div>
    <a href="{{ url_for('registration') }}" class="btn btn-primary">Создать аккаунт</a>
  </div>

{% endblock %}
