{% extends "base.html" %} {% block content %}
<form action="{{ url_for('login') }}" method="POST">
  {{ form.hidden_tag() }}

  <h1 class="h3 mb-3 fw-normal">Вход на сайт</h1>

  <div class="form-floating">
    {{ form.email(placeholder="name@example.ru") }} {{
    form.email.label(class="form-label") }}
  </div>

  <div class="form-floating">
    {{ form.password(placeholder="Пароль") }} {{
    form.password.label(class="form-label") }}
  </div>

  <div class="form-check text-start my-3">
    {{ form.remember_me() }} {{ form.remember_me.label(class="form-check-label")
    }}
  </div>

  {{ form.submit }}
  <div class="p-2"></div>
  <p class="fs-6">
    Нет аккаунта?
    <a href="{{ url_for('registration') }}" class="link-primary"
      >Зарегистрироваться</a
    >
  </p>
  <p class="mt-5 mb-3 text-body-secondary">&copy; 2023</p>
</form>
{% endblock %}
