{% extends "base.html" %}
{% block content %}
            <div class="p-3"></div>
            <div class="row">
                <h2>{{ page_title }}</h2>
                <div class="row">
                    <div class="col-auto">
                      <label for="inputItem" class="visually-hidden">Название продукта</label>
                      <input type="text" class="form-control" id="inputItem" placeholder="Название продукта">
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Добавить</button>
                    </div>
              </div>
                <ul class="list-group">
                  <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                    <label class="form-check-label" for="firstCheckbox">First checkbox</label>
                  </li>
                  <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                    <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
                  </li>
                  <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                    <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>
                  </li>
                </ul>
                </div>
{% endblock %}