SQLALCHEMY_DATABASE_URI = 'ENTER_SQLALCHEMY_DATABASE_URI'
SECRET_KEY = 'ENTER_SECRET_KEY'
ADMIN_EMAIL = 'ENTER_ADMIN_EMAI'
ADMIN_PASSWORD = 'ENTER_ADMIN_PASSWORD'
YANDEX_FOLDER_ID = 'ENTER_YANDEX_FOLDER_ID '
YANDEX_TRANSLATE_API_KEY = 'YANDEX_TRANSLATE_API_KEY'
SPOONACULAR_API_KEY = 'SPOONACULAR_API_KEY'
