{% extends "base.html" %}

{% block content %}
<div class="p-1 text-center space-for-messages"></div>
<div class="row">
    <div class="col-auto text-start">
        <a href="{{ url_for('shopping_list.show_shopping_list', public_id=shopping_list_public_id) }}"
           class="btn btn-primary"
           role="button">
            <i class="bi bi-arrow-left"></i>
            Вернуться к списку
        </a>
    </div>
</div>
<div class="p-2"></div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for recipe in user_recipes %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">
                    {% for ingredient in recipe.ingredients %}
                        {{ ingredient }}<br>
                    {%endfor%}
                </p>
                <div class="row justify-content-md-center">
                    <div class="col-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Кол-во порций</span>
                            <input id="select_portions_{{ recipe.id }}" min="1" type="number" value="1"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <a class="btn btn-danger add-ingredients-from-recipe"
                           id={{recipe.id}}
                           data-recipe-id='{{ recipe.id }}'
                           data-shopping-list-public-id="{{ shopping_list_public_id }}"
                           role="button"
                           data-placement="right"
                           title="Добавить">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path class='svg-path'
                                      d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}